<div class="container">

  <div [hidden]="logined">
    <h1>登录</h1>
    <form
      *ngIf="active"
      [ngFormModel]="form"
      (ngSubmit)="onSubmit()"
      #loginForm="ngForm"
    >
      <div [hidden]='!loginMessage' class="alert alert-danger">{{loginMessage}}</div>
      <div class="form-group">
        <label for="username">用户名:</label>
        <input
          type="text"
          class="form-control"
          required
          [(ngModel)]="model.username"
          ngControl="username"
          #username="ngForm"
        >
        <div *ngIf="username.dirty && !username.valid && !username.pending" class="alert alert-danger">
          <p *ngIf="username.errors.required">请填写用户名</p>
          <p *ngIf="username.errors.invalid">请填写 1-20 个字符</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">密码:</label>
        <input
          type="password"
          class="form-control"
          required
          [(ngModel)]="model.password"
          ngControl="password"
          #password="ngForm"
        >
        <div *ngIf="password.dirty && !password.valid && !password.pending" class="alert alert-danger">
          <p *ngIf="password.errors.required">请填写密码</p>
          <p *ngIf="password.errors.invalid">请填写 6-20 个字符</p>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-default"
        [disabled]="!loginForm.form.valid"
      >提交</button>
      <button type="button" class="btn btn-default" (click)="reset()">重置</button>
    </form>
  </div>

  <div [hidden]="!logined">
    <h2>Hello, Welcome {{ model.username }}</h2>
  </div>
</div>
