<div>
  <h2>登录</h2>
  <login-form [fields]="fields">
    <div *ngIf="!logined">
      <form (ngSubmit)="login()" [formGroup]="form">

        <div *ngFor="let field of fields" class="form-row">
          <field [field]="field" [form]="form"></field>
        </div>

        <div class="form-row form-checkbox">
          <input type="checkbox" id="showPassword" (click)="showPassword()">
          <label for="showPassword">显示密码</label>
        </div>

        <div class="form-row">
          <button type="submit" [disabled]="!form.valid">提交</button>
        </div>
      </form>
    </div>
    <div *ngIf="logined">
      <h3>登录成功</h3>
    </div>
  </login-form>
</div>