<div class="container">

  <div [hidden]="reged">
    <h1>注册</h1>
    <form
      *ngIf="active"
      [ngFormModel]="form"
      (ngSubmit)="onSubmit()"
      #regForm="ngForm"
    >
      <div [hidden]='!regMessage' class="alert alert-danger">{{regMessage}}</div>
      <div class="form-group">
        <label for="username">用户名:</label>
        <input
          type="text"
          class="form-control"
          required
          [(ngModel)]="model.username"
          ngControl="username"
          #username="ngForm"
        >
        <div *ngIf="username.dirty && !username.valid && !username.pending" class="alert alert-danger">
          <p *ngIf="username.errors.required">请填写用户名</p>
          <p *ngIf="username.errors.invalid">请填写 1-20 个字符</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">密码:</label>
        <input
          type="{{showPassword ? 'text' : 'password'}}"
          class="form-control"
          required
          [(ngModel)]="model.password"
          ngControl="password"
          #password="ngForm"
        >
        <div *ngIf="password.dirty && !password.valid && !password.pending" class="alert alert-danger">
          <p *ngIf="password.errors.required">请填写密码</p>
          <p *ngIf="password.errors.invalid">请填写 6-20 个字符</p>
        </div>
      </div>
      <div class="form-group">
        <input type="checkbox" id="showPassword" (change)="showPassword=!showPassword">
        <label for="showPassword">显示密码</label>
      </div>
      <button
        type="submit"
        class="btn btn-default"
        [disabled]="!regForm.form.valid"
      >提交</button>
    </form>
  </div>

  <div [hidden]="!reged">
    <h2>注册成功，<a [routerLink]=" ['/login'] ">登录</a></h2>
  </div>
</div>
